.background {
  background-image: url("../assets/bg.png");
  /* background-color: yellow; */
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.potion-relative {
  /* height: 100%; */
  /* background: tomato; */
  position: relative;
  left: 0;
  top: 0;
}
.chips-container {
  height: auto;
  padding: 24px;
}

.chip {
  display: inline-block;
  padding: 0 25px;
  height: 80px;
  min-width: 200px;
  max-width: 300px;
  font-weight: bold;
  border-radius: 100px;
  background-color: #0d76b6;
  color: #fff !important;
  margin: 16px;
  position: relative;
  left: 0;
  top: 0;
  font-size: 12px;
  cursor: pointer;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}
.chip .chip-contant {
  width: 80%;
  padding: 4px 0;
  display: block;
}
.chip .main-text {
  width: 80%;
  text-transform: capitalize;
}
.chip .secondary-text {
  font-size: 10px;
  width: 80%;
}
.chip img {
  position: absolute;
  right: 0;
  top: 0;
  background: #fff;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}
.chip:hover {
  background: #0d76b6;
}
.person {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 108px;
  display: block;
}
.person-flag{
  position: absolute;
  bottom: 0;
  right: 5px;
  width: 108px;
  display: block;
}
@media (max-width: 575.98px) {
  .chips-container {
    height: auto;
    padding: 0px;
  }
  .person {
    width: 64px;
  }
  .person-flag{
    width: 64px;
  }
  .chip {
    width: 100%;
    margin: 4px;
  }
}
@media (max-width: 767.98px) {
}
@media (max-width: 991.98px) {
}
@media (max-width: 1199.98px) {
}
